@media screen and (max-width: 1054px) {
    .google-png {
        width: 95%;
    }
    .google {
        width: 100%;
    }
    .butt {
        margin-right: 5%;
    }
}
@media screen and (max-width: 1035px) {
    .instagram {
        width: 58%;
    }
    .facebook {
        width: 45%;
        margin-left: -43%;
    }
}
@media screen and (max-width: 948px) {
    .butt {
        margin-right: 5%;
    }
    .google-png {
        margin-right: 5%;
    }
}
@media screen and (max-width: 938px) {
    
}