/* .header {
    display: flex;
    justify-content: space-between;
}
.nav-lists {
    display: none;
}
.bee {
    padding: 1% 66% 1% 1%;
    color: gold;
    font-size: 39px;
}
.paragraph {
    padding: 1% 47% 1% 1%;
}
.size {
    margin-bottom: 5%;
}
.btn {
   padding: 3% 3% 2% 3%;
   background-color: black;
   color: white;
   border-top-color: black;
   border-left-color: black;
} */

.header {
    display: flex;
    justify-content: space-between;
}
.head1 {
    margin-left: 6%;
}
.nav-lists {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2%;
}
li {
    list-style: none;
}
.list {
    display: grid;
    grid-template-columns:  auto auto auto auto;
    grid-gap: 7%;
    margin-right: 11rem;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.left-side {
    margin-left: 5%;
    margin-top: 10%;
}
.bee {
    padding: 1% 66% 1% 1%;
    color: gold;
    font-size: 39px;
}
.paragraph {
    padding: 1% 47% 1% 1%;
}
.size {
     margin-bottom: 5%;
}
.btn {
    padding: 3% 3% 2% 3%;
    background-color: black;
    color: white;
    border-top-color: black;
    border-left-color: black;
}
.right-side {
    margin-right: 5%;
}
.bee-remove-png {
    width: 100%;
    margin-left: 2%;
}
.bee-remove {
    width: 83%;
}
.bee-pot {
    width: 93%;
}
.bee-pot-png {
    width: 100%;
}
.brand-list {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
}
.honey {
    align-content: center;
    margin-top: 3%;
    margin-left: 5%;
}
.honey-list {
    display: grid;
    grid-template-columns: auto auto auto;
}
.pot-bee {
    width: 100%;
}
.bee-honey {
    width: 40%;
    margin-left: 8%;
}
.honey5-wrap {
    margin-left: -73%;
}
.honey6 {
    width: 100%;
}
.honey6-wrap {
    width: 55%;
}
.wrap {
    display: grid;
    grid-gap: 15%;
    grid-template-columns: auto auto;
    text-align: center;
    margin-left: 25%;
}
.box {
    text-align: center;
    font-size: 25px;
}
.answer {
    font-size: 18px;
}
.img-wrap {
    width: 30%;
    margin-top: 15%;
}
.img1 {
    width: 100%;
}
.customers-comment {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.James-comment {
    border: 1px solid white;
    background-image: url(../img/Rectangle-2.png);
    margin-left: 5%;
    text-align: center;
}
.sarah-comment {
    border: 1px solid white;
    padding: 1% 1% 1% 1%;
    margin-right: 3%;
    text-align: center;
}
.comment {
    padding: 1px 1px 1px 1px;
}
.about {
    display: grid;
    grid-template-columns: auto auto;
}
.image {
    width: 40%;
}
.image1 {
    width: 70%;
}
.soot {
    color: gold;
    font-size: 22px;
}
.luxury {
    font-size: 37px;
    padding: 0% 55% 0% 0%;
}
.para {
    padding: 0% 44% 1% 0%;
    font-size: 18px;
}
.brag {
    display: flex;
    justify-content: space-between;
}
.line{
    color: gold;
}
.subscription {
    background-color: rgb(221, 214, 214);
}
.newsletter {
    text-align: center;
}
.flex {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 22%;
}
.img-honey {
    margin-left: 47%;
}
.email-1 {
    padding: 9% 53% 12% 31%;
    margin-top: 8%;
    margin-left: -67%;
}
.btn1 {
    padding: 20px 76px 20px 56px;
    background-color: black;
    color: white;
    margin-top: 8%;
    margin-left: -87%;
    font-size: 18px;
    border-top-color: black;
    border-left-color: black;
}
.questions {
    text-align: center;
    margin-bottom: 5%;
}
.uses-of-honey {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(219, 212, 212);
    margin-bottom: 2%;
}
.peru {
    padding: 1% 51% 1% 1%;
}
footer {
    background-color: orange;
    margin: 0%;
    padding: 0%;
}
.foot {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10%;
}
.butt {
    background-color: black;
    color: white;
    padding: 5% 8% 5% 7%;
}
.list1 {
    font-size: 28px;
    line-height: 46px;
}
.heading-3{
  margin-left: 24%;  
}
.twitter-bird {
    width: 122%;
}
.twitter {
    width: 100%;
}
.instagram {
    width: 28%;
}
.insta {
    width: 100%;
}
.facebook {
    width: 21%;
    margin-left: -77%;
}
.fb {
    width: 100%;
}
.list4 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: -21%;
}
.copy {
    text-align: center;
    background-color: black;
    color: white;
    margin-top: -18px;
    padding-bottom: 10px;
}
.copyright {
    padding-top: 2%;
}